.social-login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.btn-social {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.btn-social i {
  color: #888;
}

.btn-social:hover i {
  color: #000;
}

.btn-google {
  border: none;
  border-radius: 10px !important;
  padding: 1rem;
}
